<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
	<DirectoryRef Id="CM_DP_bin">
		<Component Id="BazComponent" Guid="7166A570-07E1-43B7-8FA3-76BEBFDE4413">
			<RegistryValue Root="HKCU" Key="Software\CPackWIX\ExtraSources" 
		                 Type="string" Name="Baz" Value="Baz" KeyPath="yes" />
		</Component>
	</DirectoryRef>
    </Fragment>
</Wix>
